---
---

@import "{{ site.theme }}";
@import url(“social-cricles.css”);
@import url(“social-cricles.min.css”);


body {
background-color: #29303d;
color: white;
font-family: Georgia;
}
h1 {
color: #e0e4eb;
}
h2 {
color: #e0e4eb;
}
h3 {
color: #e0e4eb;
}
Strong {
color: #e0e4eb;
}
